body{
	background-color: #CCC;
}

div#header{
	position: relative;
	height: 150px;
}

div#content{
	position: relative;
	padding-left: 20px;
}

div#logo{
	float: left;
	padding: 10px
}

div#title{
	font-family: Arial;
	font-size: 32px;
}

div#title a{
	text-decoration: none;
	color: black;
}

div#menu{
	font-family: Arial;
	float: center;
	margin: 10px;
}

div#menu a{
	text-decoration: none;
	color: white;
}

div#menu_current_item
{
	float: left;
	background-color: #648;
	border: 1px solid #CCC;
	padding: 5px;
}

div#menu_active_item
{
	float: left;
	background-color: #864;
	border: 1px solid #CCC;
	padding: 5px;
}

div#menu_inactive_item
{
	float: left;
	background-color: #888;
	border: 1px solid #CCC;
	padding: 5px;
}

#product_table {
	max-width: 570px;
}

#product_table td{
	padding: 20px;
}

#product_table tr{
	padding: 10px;
}
