body{
	background-color: #CCC;
}

#header{
	position: relative;
	height: 150px;
}

#content{
	position: relative;
	padding-left: 20px;
}

#logo{
	float: left;
	padding: 10px
}

#title{
	font-family: Arial;
	font-size: 32px;
}

#title a{
	text-decoration: none;
	color: black;
}

#menu{
	font-family: Arial;
	float: center;
	margin: 10px;
}

#menu a{
	text-decoration: none;
	color: white;
}

#menu_current_item
{
	float: left;
	background-color: #648;
	border: 1px solid #CCC;
	padding: 5px;
}

#menu_active_item
{
	float: left;
	background-color: #864;
	border: 1px solid #CCC;
	padding: 5px;
}

#menu_inactive_item
{
	float: left;
	background-color: #888;
	border: 1px solid #CCC;
	padding: 5px;
}

#product_table {
	max-width: 570px;
}

#product_table td{
	padding: 20px;
}

#product_table tr{
	padding: 10px;
}

#order_table td {
	border-style: solid;
	padding: 5px;
	height: 50px;
	width: 100px;
}

#order_table th {
	border-style: solid;
	padding: 5px;
}
